<section id="gallery" class="py-5 bg-light">
  <div class="container">
    <h2 class="section-title">Photo Gallery</h2>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="gallery-item">
          <img src="https://placehold.co/400x300/4e54c8/FFFFFF?text=Project1" alt="Project 1" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="gallery-item">
          <img src="https://placehold.co/400x300/4e54c8/FFFFFF?text=Project2" alt="Project 2" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="gallery-item">
          <img src="https://placehold.co/400x300/4e54c8/FFFFFF?text=Project3" alt="Project 3" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="gallery-item">
          <img src="https://placehold.co/400x300/4e54c8/FFFFFF?text=Project4" alt="Project 4" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="gallery-item">
          <img src="https://placehold.co/400x300/4e54c8/FFFFFF?text=Project5" alt="Project 5" class="img-fluid">
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="gallery-item">
          <img src="https://placehold.co/400x300/4e54c8/FFFFFF?text=Project6" alt="Project 6" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>